#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.success}
<p class="success">${flash.success}</p>
#{/if}

link for player 1: <a href="@{Application.show(game.id)}?playerId=${game.player1URL}">Player 1</a>
link for player 2: <a href="@{Application.show(game.id)}?playerId=${game.player2URL}">Player 2</a>

#{if game}
<script type="text/javascript">
    var gameId = ${game.id};
    var size = ${game.board.size};
    var stat = ${game.myStatusCode};
    var isPlayer1Turn = ${game.isPlayer1Turn};
    var player1Points = ${game.player1Points};
    var player2Points = ${game.player2Points};


    var lastReceived = 0;
    var waitMessages = #{jsAction @waitMessages(':lastReceived', ':gameId') /}

            // Retrieve new messages
    var getMessages = function() {
        $.ajax({
            url: waitMessages({lastReceived: lastReceived, gameId: gameId}),
            success: function(events) {
                $(events).each(function() {
                    display(this.data)
                    lastReceived = this.id
                })
                getMessages()
            },
            dataType: 'json'
        });
    }
    getMessages();

    // Display a message
    var display = function(event) {
        $('#debugger2').append(event.text);
    }

    $(document).ready(function() {
        var canvas = $("#canvas");
        var boardCanvas = BoardCanvas(canvas, size);
        var board = GoBoard(size);
        //var myGame = game(canvas, size, isPlayer1Turn);
        board.setPositionsFromString("${game.board.positions}");
        boardCanvas.draw(board.getPositions());
        updateScoreBoard();

        canvas.mouseup(function(e) {
            var pos = getCursorPosition(this, e);
            var boardPos = boardCanvas.screenPosToBoardPos(pos);
            play(boardPos[0], boardPos[1]);
        });


        function getCursorPosition(canvas, event) {
            var x, y;
            canoffset = $(canvas).offset();
            x = event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft - Math.floor(canoffset.left);
            y = event.clientY + document.body.scrollTop + document.documentElement.scrollTop - Math.floor(canoffset.top) + 1;
            return [x,y];
        }

        function play(x, y) {
            var gamedata = {
                "x" : x,
                "y" : y
            };
            $.ajax({
                type: "POST",
                url: "play/" + gameId,
                data: gamedata,
                beforeSend: function() {
                    $('#ajax').text("Sending....");
                },
                error: function() {
                    $("#ajax").text("Error when sending to server!");
                },
                success: function(data) {
                    $("#ajax").text("Success!");
                    var retVal = data.myStatusCode;
                    $("#ajax").append(retVal);
                    board.setPositionsFromString(data.board.positions);
                    player1Points = data.player1Points;
                    player2Points = data.player2Points;
                    isPlayer1Turn = data.isPlayer1Turn;
                    boardCanvas.draw(board.getPositions());
                    updateScoreBoard();
                },
                complete: function(data) {
                    $("#ajax").append("...Ferdig!");

                }
            });
        }

        function updateScoreBoard() {
            if (isPlayer1Turn) {
                currentPlayer = "Black's";
            } else {
                currentPlayer = "White's";
            }
            $("#blackPoints").text(player1Points);
            $("#whitePoints").text(player2Points);
            $("#playerTurn").text(currentPlayer);
            $("#error").text("");
        }
    });

</script>
<div class="game">


    <div id="debugger">
        ${game.myStatusCode}

    </div>
    <div id="debugger2">

    </div>
    <div id="ajax">

    </div>
    <div id="scoreboard">
        <div id="black">
            Black : <span id="blackPoints"> 0 </span> points
        </div>
        <div id="turn">
            <span id="playerTurn">Black's</span> turn
        </div>
        <div id="white">
            White : <span id="whitePoints"> 0 </span> points
        </div>

    </div>
    <div id="error">
        #{if flash.error}
        <p class="error">${flash.error}</p>
        #{/if}
    </div>
    <div id="board">
        <canvas width="950" height="950" id="canvas"/>
    </div>

    </canvas>

</div>
#{/if}

