#slide {
    width: 49%;
    height: 800px;
    float: left;
    border-style: solid;
    border-width: 2px;

}

nav {
    font-size: 24px;
}
#code {
    width: 49%;
    height: 800px;
    float: right;
    border-style: solid;
    border-width: 2px;
}
#slides {
    display:none;
}

article {
    padding: 10px;
}

footer {
    padding: 10px;
    font-size: 10px;
}

input {
    display: block; 
}